openapi: 3.1.0
info:
  title: HubSpot Context Retrieval API
  description: Recherche un bailleur social dans HubSpot et récupère toutes les remarques, appels et emails associés pour fournir du contexte à un deal.
  version: 1.1.0
servers:
  - url: https://api.hubapi.com
    description: HubSpot public API

paths:
  /crm/v3/objects/companies/search:
    post:
      operationId: searchCompanyByName
      summary: Recherche une entreprise (bailleur social) par nom exact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                filterGroups:
                  type: array
                  items:
                    type: object
                    properties:
                      filters:
                        type: array
                        items:
                          type: object
                          properties:
                            propertyName:
                              type: string
                              example: name
                            operator:
                              type: string
                              example: EQ
                            value:
                              type: string
                              example: Domaxis
      responses:
        '200':
          description: Résultats de la recherche (entreprises)
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Aucune entreprise trouvée
      security:
        - bearerAuth: []

  /crm/v3/objects/notes:
    get:
      operationId: getNotesForCompany
      summary: Récupère toutes les notes liées à une entreprise
      parameters:
        - name: associations.company
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Notes trouvées
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Aucune note trouvée
      security:
        - bearerAuth: []

  /crm/v3/objects/calls:
    get:
      operationId: getCallsForCompany
      summary: Récupère tous les appels téléphoniques liés à une entreprise
      parameters:
        - name: associations.company
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Appels trouvés
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Aucun appel trouvé
      security:
        - bearerAuth: []

  /crm/v3/objects/emails:
    get:
      operationId: getEmailsForCompany
      summary: Récupère tous les emails liés à une entreprise
      parameters:
        - name: associations.company
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Emails trouvés
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Aucun email trouvé
      security:
        - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
