openapi: 3.1.0
info:
  title: HubSpot Context Retrieval API
  description: Recherche un bailleur social dans HubSpot et récupère toutes les remarques, appels et emails associés pour fournir du contexte à un deal.
  version: 1.1.0
servers:
  - url: https://api.hubapi.com
    description: HubSpot Public API
paths:
  /crm/v3/objects/companies/search:
    post:
      operationId: searchCompanyByName
      summary: Recherche une entreprise par nom
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                filterGroups:
                  type: array
                  items:
                    type: object
                    properties:
                      filters:
                        type: array
                        items:
                          type: object
                          properties:
                            propertyName:
                              type: string
                            operator:
                              type: string
                            value:
                              type: string
      responses:
        '200':
          description: Résultats de la recherche
          content:
            application/json:
              schema:
                type: object
  /crm/v3/objects/notes:
    get:
      operationId: getNotesForCompany
      summary: Récupère les notes associées à une entreprise
      parameters:
        - name: associations.company
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Notes récupérées
          content:
            application/json:
              schema:
                type: object
  /crm/v3/objects/calls:
    get:
      operationId: getCallsForCompany
      summary: Récupère les appels associés à une entreprise
      parameters:
        - name: associations.company
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Appels récupérés
          content:
            application/json:
              schema:
                type: object
  /crm/v3/objects/emails:
    get:
      operationId: getEmailsForCompany
      summary: Récupère les emails associés à une entreprise
      parameters:
        - name: associations.company
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Emails récupérés
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
  - bearerAuth: []